@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --theme-pink: #ff39e1;
  --theme-green: #d3ff7d;

  /* Text size variables - mobile first */
  --text-base: 1rem;
  --text-md: 1.25rem;
  --text-lg: 1.5rem;
}

@media (width >= 390px) {
  :root {
    --text-display: 2.5rem;
    --text-description: 1.25rem;
    --text-heading: 1.5rem;
    --text-body: 1.125rem;
  }
}

@media (width >= 768px) {
  :root {
    --text-base: 1.5rem;
    --text-md: 3rem;
    --text-lg: 4.5rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-dm);
  --font-custom: var(--font-universCondensed);
  --font-display: var(--font-clash);
  --font-Haas: var(--font-Haas);
  --color-theme-green: var(--theme-green);
  --color-theme-pink: var(--theme-pink);
  --text-base: var(--text-base);
  --text-md: var(--text-md);
  --text-lg: var(--text-lg);
}

html {
  background: var(--background);
  color: var(--foreground);
  -webkit-overflow-scrolling: touch;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Now your utilities are super clean */
@utility text-display {
  font-size: var(--text-display);
}

@utility text-description {
  font-size: var(--text-description);
}

@utility text-heading {
  font-size: var(--text-heading);
}

@utility text-body {
  font-size: var(--text-body);
}

/* Infinite marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 50s linear infinite;
}

.animate-marquee-right {
  animation: marqueeRight 50s linear infinite;
}

html.lenis,
html.lenis body {
  height: auto;
  /* height: 100dvh; */
  /* position: relative; */
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis [data-lenis-prevent],
.lenis [data-lenis-prevent-wheel],
.lenis [data-lenis-prevent-touch] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
